html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  color: #E0BE36;
  min-width: 80vw;
  min-height: 100vh;
  padding: 2%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  background-color: #002642;
  margin-top: 0px;
  box-sizing: border-box;
}
