.fade {
  animation: fadeIn 3s;
}
.image {
  margin: 2%;
  border-style: solid;
  border-width: 1 vh;
  border-radius: 100%;
  width: 60vh;
  height: 60vh;
  object-fit: cover;
}
.imageWide {
  margin: 2%;
  border-style: solid;
  border-width: 1 vh;
  border-radius: 0%;
  width: 100vh;
  height: 50vh;
  object-fit: cover;
}

.caption {
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.69);
  width: 100vh;
  color: #ffffff;
  margin: auto;
}

.caption1 {
  padding: 1.5%;
  background-color: rgba(255, 255, 255, 0.69);
  width: 80vh;
  color: #000000;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
